.popup__button {
    max-width: 100%;
    background-color: #000000;
    text-align: center;
    color: #ffffff;
    font-family: inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    font-style: normal;
    padding-left: 125px;
    padding-right: 125px;
    padding-top: 14px;
    padding-bottom: 18px;
    margin-top: 48px;
}